html, body, canvas {
  margin: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  font: 1em Helvetica;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0 1em;
  height: 3em;
}

nav > ol {
  background: white;
  list-style-type: none;
  width: 900px;
  display: flex;
  padding: 0 0 0 0;
  align-items: center;
  color: #2f2442;
}

li.logo {
  flex: 1;
  padding-top: 0.5em;
}

img.logo {
  height: 2em;
}

li.item {
  padding: 0 0 0 2em;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
  font-weight: normal;
  color: #2f2442;
}

a:hover {
  text-decoration: underline;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: lightgray;
}

#speedometer {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  padding: 0 0.5em;
  background: #5e5e75;
  color: grey;
}

main {
  width: 900px;
  margin: 4em auto 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

h1, h2, h2, h3 {
  color: #2f2442;
}

h2 {
  font-size: 1.2em;
  font-style: oblique;

}

h4 {
  font-size: 1em;
}

th {
  text-align: left;
  vertical-align: top;
}

table {
  border-spacing: 3.2em 1em;
  border-collapse: separate;
}

img.social {
    height: 1em !important;
    max-height: 1em !important;
    margin-right: 0.3em;
}

table, td, img.social {
  vertical-align: baseline;
    font-size: 1em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img, .card-img > img {
  border-radius: 2px 0 0 2px;
  height: 200px;
  width: 317px;
}

.card-desc {
  flex: 1;
  padding: 0 2em;
}

.card-links {
  display: flex;
  margin-top: 1em;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
  }

  .card-img, .card-img > img {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: auto;
  }

  .card-desc {
    padding: 0.5em 2em;
  }

  main {
    width: 550px;
  }

  .card-nb {
    box-shadow: none !important;
  }
}

